.item-details {
  font-family: 'Ubuntu';
  display: flex;
  flex-direction: column;
  color: white;
  background: #121212;
  /*  background-color: #130f40;
  background-image: linear-gradient(315deg, #130f40 0%, #000000 74%); */
}

.main-details {
  margin-left: 5.5em;
  margin-top: 1em;
  text-align: center;
  font-size: 0.8em;
  display: flex;
  flex-direction: column;
}

.other-info {
  margin: auto;
  font-family: 'Oswald', sans-serif;
}

.overview-text {
  width: 50vw;
}

.details-image {
  margin: auto;
  height: 55vh;
  width: 65vw;
}

.back-button {
  height: 5em;
  width: 5em;
}

.other-info {
  font-size: 1.4em;
}

.details-title {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-size: 2.5em;
  color: #e95420;
}

@media only screen and (max-width: 600px) {
  .details-image {
    height: 45vh;
    width: 100vw;
    margin-top: 1em;
  }

  .main-details {
    margin-left: 0;
  }

  .overview-text {
    width: 90vw;
  }

  .back-icon {
    margin-left: 1.5em;
    margin-top: 0.75em;
  }
}
