.item-details {
  font-family: 'Ubuntu';
  display: flex;
  flex-direction: column;
  color: white;
  background-color: #130f40;
  background-image: linear-gradient(315deg, #130f40 0%, #000000 74%);
}

.main-details {
  margin-left: 5.5em;
  margin-top: 1em;
  text-align: center;
  font-size: 0.8em;
  display: flex;
  flex-direction: column;
}

.other-info {
  margin: auto;
  font-family: 'Lora', serif;
}

.overview-text {
  width: 50vw;
}

.details-image {
  margin: auto;
  height: 55vh;
  width: 65vw;
}

.back-button {
  height: 5em;
  width: 5em;
}

.details-title {
  font-family: 'Montserrat', sans-serif;
}
