.item-details {
  display: flex;
  flex-direction: column;
  color: white;
  background: #121212;
  font-family: 'Oswald', sans-serif;
}

.main-details {
  margin-top: 1em;
  text-align: center;
  font-size: 0.8em;
  display: flex;
  flex-direction: column;
}

.other-info {
  margin: auto;
  font-size: 1.4em;
  width: 65vw;
}

.details-image {
  margin: auto;
  height: 55vh;
  width: 65vw;
}

.details-title {
  text-transform: uppercase;
  font-size: 2.5em;
  color: #e95420;
}

.container {
  width: 65vw;
  margin: auto;
  display: flex;
  flex-direction: row;
}

.star-icon,
.runtime-icon {
  height: 2em;
}

.star-ratings {
  justify-content: flex-end;
  display: inline-flex;
  width: 50vw;
}

.star-ratings,
.runtime-info {
  height: 3em;
}

.vote-info {
  margin-top: 0;
  font-size: 1.5em;
  padding-left: 3px;
}

.info-text {
  color: gray;
}

@media only screen and (max-width: 600px) {
  .details-image {
    height: 45vh;
    width: 100vw;
    margin-top: 1em;
  }

  .overview-text {
    width: 90vw;
  }

  .back-icon {
    margin-left: 1.5em;
    margin-top: 0.75em;
  }

  .other-info {
    margin-left: 5vw;
  }
}
