.cards {
  width: 100vw;
  margin: auto;
  margin-left: 0;
  margin-right: 0;
  /*   background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(8, 147, 222, 1) 15%,
    rgba(1, 188, 239, 1) 77%,
    rgba(0, 0, 0, 1) 100%
  ); */
  /*   background: repeating-linear-gradient(
    45deg,
    rgb(27, 27, 27) 0px,
    rgb(27, 27, 27) 97px,
    rgb(24, 24, 24) 97px,
    rgb(24, 24, 24) 194px,
    rgb(20, 20, 20) 194px,
    rgb(20, 20, 20) 291px
  ); */
  background: #301934;
}

.loader {
  height: 90vh;
  padding-top: 15em;
  padding-left: 45%;
}

.no-results {
  font-size: 100px;
  padding-top: 100px;
}
