.card-container {
  width: 35vw;
  height: 55vh;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  border: 1px solid white;
}

.image {
  height: 90%;
  opacity: 0.7;
}

.image:hover {
  cursor: pointer;
  opacity: 1;
}

.item-title {
  color: white;
  height: 10%;
  text-align: center;
  font-size: 1em;
}

@media only screen and (max-width: 750px) {
  .card-container {
    width: 75vw;
    height: 50vh;
  }

  .title {
    font-size: 0.8em;
  }
}

@media only screen and (max-width: 900px) {
  .title {
    font-size: 0.9em;
  }
}
