.card-container {
  width: 35vw;
  height: 55vh;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
  border-radius: 18px;
  display: flex;
  flex-direction: column;
}

.image {
  width: 100%;
  height: 90%;
  background-size: 100% 100%;
  background-position: center;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
}

.image:hover {
  cursor: pointer;
}

.basic-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: white;
  height: 10%;
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
}

.title {
  text-align: center;
  font-size: 1em;
  margin-right: 1.3em;
}

@media only screen and (max-width: 750px) {
  .card-container {
    width: 75vw;
    height: 50vh;
  }

  .title {
    font-size: 0.8em;
  }
}

@media only screen and (max-width: 900px) {
  .title {
    font-size: 0.9em;
  }
}
