.cards {
  width: 100vw;
  background-color: #2d3436;
  background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);
  padding-bottom: 2em;
}

.loader {
  height: 90vh;
  padding-top: 15em;
  padding-left: 45%;
}

.no-results {
  font-size: 100px;
  padding-top: 100px;
}
