.cards {
  width: 100vw;
  padding-bottom: 2em;
  background: #121212;
}

.loader {
  height: 90vh;
  padding-top: 15em;
  padding-left: 45%;
}

.no-results {
  font-size: 100px;
  padding-top: 100px;
}

.headline {
  color: white;
  font-family: 'Montserrat', sans-serif;
  display: none;
}

.headline h1 {
  margin: 0;
  padding-top: 0.65em;
  text-align: center;
}

@media only screen and (max-width: 700px) {
  .headline {
    display: contents;
  }
}
